.experience {
	animation: fadeIn 1.5s ease-in-out;
	padding: 2rem 4rem;

	.experience-heading {
		font-size: 2rem;
		font-weight: 600;
		color: white;
		margin-bottom: 3rem;

		&:last-of-type {
			margin-top: 2.5rem;
		}
	}

	// .experience-cards {
	// 	display: flex;
	// 	flex-direction: row;
	// 	justify-content: center;
	// 	align-items: center;
	// 	flex-wrap: wrap;
	// 	gap: 2.5rem;

	// 	> div {
	// 		display: flex;
	// 		flex-direction: column;
	// 		align-items: center;

	// 		> button {
	// 			display: flex;
	// 			align-items: center;
	// 			align-self: flex-end;
	// 			gap: 0.5rem;
	// 		}
	// 	}
	// }

	.experience-cards {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2.5rem;
	}

	.experience-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		padding: 1.2rem 1rem;
		gap: 1rem;
		width: 22rem;
		color: rgba(255, 255, 255, 0.8);
		background-color: #171923;
		box-shadow: 0 2px 3px 0 rgba(255, 255, 255, 0.3),
			0 1px 2px 0 rgba(255, 255, 255, 0.1);
		transform: rotateY(90deg);
		animation: flip2 1.5s ease-in-out forwards;

		.popover-content {
			overflow-x: auto;
			max-height: 80vh;
		}

		h2 {
			color: white;
			margin: 1rem 0;
		}

		img {
			border-radius: 5px;
		}

		.logo-box {
			display: flex;
			align-items: center;
			padding: 1rem;
			gap: 1rem;
			border-radius: 8px;
			width: 100%;
			background-color: rgba(255, 255, 255, 0.2);
			box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.3),
				0 1px 2px 0 rgba(255, 255, 255, 0.1);

			p {
				font-size: 1rem;
				font-weight: 600;
			}
		}

		.info-box {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-self: flex-start;
			gap: 0.5rem;

			.title {
				font-size: 1.2rem;
				font-weight: 700;
			}

			.duration {
				font-size: 0.7rem;
				font-weight: 600;
			}

			.text {
				text-align: justify;
				font-size: 0.9rem;
				margin-bottom: 1rem;
			}
		}

		.bottom {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.learn-more {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			background-color: #48bb78;
			color: white;
			font-weight: 600;
			padding: 0.4rem 0.6rem;
			border-radius: 5px;
			font-size: 0.7rem;
			cursor: pointer;
		}

		ul {
			list-style-type: none;
		}

		li {
			font-size: 0.7rem;
			padding: 0.5rem;
			text-align: justify;
			width: 100%;
		}
	}

	.cred-link {
		display: block;
		margin-top: 1rem;
		font-size: 1rem;
		text-align: right;
		color: blue;

		&:hover {
			color: #3182ce;
		}
	}
}

.parallax {
	border-radius: 2rem;
}

.visiting-card {
	position: relative;
	z-index: 12;
	min-width: 25rem;
	height: 15rem;
	animation: slideAndSkew 2.2s ease-in-out;
	background-color: #171923;
	border-radius: 2rem;
	padding: 1rem;
	margin: 0.2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: rgb(0 0 0 / 90%) 2px -1px 4px,
		rgb(255 255 255 / 30%) 3px -2px 0px 1px;

	.company-text {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		p {
			background-color: #aaa;
			color: transparent;
			text-shadow: 1px 1px 3.5px #171923;
			background-clip: text;
			font-weight: 700;
		}
	}

	.card-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.4rem;
		font-weight: 800;
		background-color: #aaa;
		color: transparent;
		text-shadow: 1px 1px 3.5px #171923;
		background-clip: text;
	}

	.card-duration {
		display: flex;
		justify-content: flex-end;
		font-weight: 600;
		font-size: 0.95rem;
		background-color: #aaa;
		color: transparent;
		text-shadow: 1px 1px 3.5px #171923;
		background-clip: text;
	}
}

.learn-more-btn {
	position: relative;
	top: 1rem;
	padding: 0.5rem 1rem;
	background-color: transparent;
	color: #aaa;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	&:hover {
		color: #fff;
	}
}

.mini-card {
	display: flex;
	flex-direction: column;
	width: 18rem;
	height: 18rem;
	background-color: #45474f;
	border-radius: 2rem;
	overflow: hidden;
	margin-right: 0.5rem;
	box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
	animation: mini-card-hover 3s ease-in-out infinite;

	img {
		border-radius: 50%;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0 0.5rem;

		li {
			color: #ccc;
		}
	}

	.mini-card__link {
		width: 100%;
		height: 25%;
		padding: 1.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #171923;
		cursor: pointer;

		p {
			color: white;
		}
	}

	div {
		padding: 1.5rem;
	}
}

div[popover] {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #171923;
	padding: 20px;
	border-radius: 5px;
	animation: fadeInOnly 0.5s ease-in-out;
	padding: 2rem;

	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		list-style-type: none;

		li {
			color: #ccc;
			background-color: #45474f;
			border-radius: 5px;
			padding: 0.5rem;
			font-size: 0.9rem;
			text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 1);
		}
	}

	&::backdrop {
		transition: all 1s;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 1000;
	}

	.close-btn {
		margin-left: 42vw;
		margin-top: 1.5rem;
		background-color: darkred;
		color: white;
		font-weight: 600;
		padding: 0.5rem 1rem;
		border-radius: 5px;
		cursor: pointer;
	}
}

@keyframes mini-card-hover {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slideAndSkew {
	from {
		transform: translateY(-500px) skewY(20deg) skewX(20deg);
	}
	to {
		transform: translateY(0) skewY(0deg) skewX(0deg);
	}
}

@keyframes fadeInOnly {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes flip2 {
	0% {
		opacity: 0;
		transform: rotateX(5deg) rotateY(90deg);
	}
	100% {
		opacity: 1;
		transform: rotateX(0deg) rotateY(0deg);
	}
}
