html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.nav-link {
	transition: all 0.1s ease-out;
}

.nav-link:hover {
	cursor: pointer;
	filter: contrast(2);
	font-size: 1.4rem;
	transition: all 0.3s;
}

.active {
	box-shadow: 3px 2px 8px 1px #729b35 inset;
	transform: scale(1.05);
	background: #517e0e;
	border-radius: 5px;
	padding: 0.5rem 0.6rem;
}
